/* TABS */

:root {
	--link-selected-color: #4154f1;
	--tab-border-color: #bbb;
}

.tabs-holder {
	display: flex;
	margin: 10px 0;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}

.my-tab {
	flex: 1;
	border-bottom: solid 1px var(--tab-border-color);
	padding-bottom: 2px;
	cursor: pointer;
	user-select: none;
	min-width: 170px;
}

.my-tab:hover {
	color: var(--link-selected-color);
}

.active-tab {
	color: var(--link-selected-color);
	border-bottom: solid 2px var(--link-selected-color);
}

.hide {
	display: none;
}

.tabs-holder {
	display: flex;
	margin: 10px 0;
	justify-content: center;
	text-align: center;
}

.loader {
	position: relative;
	width: 155px;
	height: 150px;
	left: 50%;
	top: 50%;
	transform: translate(-50%);

	opacity: 0.4;
	z-index: 4;
}
