.navbar ul::-webkit-scrollbar {
	display: none;
}

.navbar ul {
	max-width: 250px;
}

.profile-image {
	width: 100px;
	max-width: 100px;
	height: 100px;
	object-fit: cover;
}

:root {
	--link-selected-color: #4154f1;
	--tab-border-color: #bbb;
}

.ml-3 {
	margin-left: 3px;
}

.mr-3 {
	margin-right: 3px;
}
